#background{
    position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  background-image: url("https://media.licdn.com/dms/image/C4D1BAQEoMt9wIUZUuw/company-background_10000/0?e=2159024400&v=beta&t=S4DZXoJZXS5hWO939Pnl8A50gy26AnEEWLi2j4XnVMU");
  background-size: cover;
  
}
#tagline
{
    position: fixed;
    font-size: 2.5vh;
    top: 5%;
    text-align: center;
    width: 50%;
    left: 25%;
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-style: italic;
    font-style: bold;
    text-shadow: 1px 1px 2px black; 
}
#title
{
    position: fixed;
    font-size: 6vw;
    height: 10%;
    top: 30%;
    text-align: center;
    width: 50%;
    left: 25%;
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-style: bold;
    text-decoration: underline;
    text-shadow: 1px 1px 2px black; 
}
#date{
    padding-top: 4vw;
    position: fixed;
    font-size: 3vw;
    height: 10%;
    top: 35%;
    text-align: center;
    width: 50%;
    left: 25%;
    font-family: "Times New Roman", Times, serif;
    color: white;
    text-shadow: 1px 1px 2px black; 
   

}
.btnText{
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-size: 4vw;
    transition: transform .2s;
    cursor: pointer;
}
.btnText:hover{
    font-family: "Times New Roman", Times, serif;
    color:rgba(255, 255, 255, 0.664);
    transform: scale(1.1);
}

#links{
    padding-top: 9.5vw;
    position: fixed;
    height: 10%;
    top: 35%;
    text-align: center;
    width: 70%;
    left: 15%;
    font-family: "Times New Roman", Times, serif;
    color: white;
    text-shadow: 1px 1px 2px black; 

}

.hidden-xs {
    display: none;
  }
  
  /* dummy criterion for demo purposes */
  
  @media screen and (min-width: 400px) {
    .hidden-xs {
      display: block;
    }
  }
